/* Estilos generales */
body {
  margin: 0; /* Elimina los márgenes predeterminados */
  font-family: Inter var, sans-serif;
  font-stretch: 95%; /* Reduce el ancho del tipo de letra al 90% */
}

/* Estilos del encabezado */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%; /* Ajusta el ancho al 100% */
}

/* Estilos del título */
.title {
  background-color:#E7F3FE;
  color: #656770;
  text-align: left;
  padding: 15px;
}

/* Estilos de los títulos */
.h1{
  color: #1A4282;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

/* Estilos de los párrafos */
.paragraph{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/* Estilos del contenido principal */
main {
  padding: 20px;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* Estilos del encabezado */
.header{
  background-color: #77A6F2;
}

/* Estilos de la letra */
.letter {
  color: #2E579A; /* Cambia el color de la letra a azul */
  font-weight: 700;
}

/* Estilos específicos para el elemento con id "letter" */
#letter{
  margin-right:65%;
  font-weight: 500;
  font-size: 26px;
}

/* Estilos del círculo */
.circle {
  width: 30px;
  height: 30px;
  margin-left: 5%;
  margin-top: 0%;
  background-color: #1A4282; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que los bordes se redondeen completamente */
  float: left;
}

/* Icono de menú */
.menu-icon {
  cursor: pointer;
  float: right;
  margin-top: -8%;
  margin-right: 10%;
}

/* Barra de menú */
.bar {
  width: 27px;
  height: 3px;
  background-color: #3861A3;
  margin: 6px 0;
}

/* Título secundario */
.secondary-title{
  color: #4988EE;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Título terciario */
.tertiary-title{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 17px;
  color: #1A3082;
}

/* Estilos del formulario */
.form{
  margin-bottom: 36px;
}

/* Estilos del campo de entrada */
.input{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 20px;
  gap: 10px;
  width: 336px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #B9D4FF;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Estilos cuando el campo de entrada está enfocado */
.input:focus {
  outline: none;
  border-color: blue; /* Cambia el color de borde cuando el campo está enfocado */
}

/* Estilos del marcador de posición */
.input::placeholder {
  color:  #C1C1C1;
}

/* Estilos generales para el marcador de posición */
::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color:  black;
}

/* Estilos del pie de página */
.footer {
  position: relative;
  top: -30px;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100px; /* Altura deseada para el footer */
  background-color: #77A6F2;
  padding-top: 0%;
  display: flex; /* Usa flexbox para alinear los elementos */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  justify-content: center; /* Centra horizontalmente los elementos */
}

/* Estilos de la letra en el pie de página */
.footer .letter {
  color: #2E579A; /* Cambia el color de la letra a azul */
  font-weight: 700;
}

/* Estilos específicos para el elemento con id "letter" en el pie de página */
.footer #letter {
  position: relative;
  left: 3%;
  bottom:  0px !important;
}

/* Estilos del círculo en el pie de página */
.footer .circle {
  position: relative;
  right: 55%;
  bottom:  -27px !important;
  float: left;
}

/* Estilos de la línea divisoria */
.divisoria {
  border-top: 1px solid gray; /* Especifica una línea sólida en la parte superior */
  margin-top: 12%;
}

/* Estilos del cuadro */
.cuadro{
  background: #E7F3FE;
  border-radius: 10px;
  padding: 5% ;
  width: 90%;
  height: 58%;
}

/* Estilos de la línea divisoria dentro del cuadro */
.cuadro .divisoria{
  margin-top: 5%;
  border-top: 1px solid  #CDE2F4;
}

/* Contenedor con distribución de espacio entre elementos */
.container {
  display: flex;
  justify-content: space-between; /* Distribuir los elementos horizontalmente */
}

/* Columna con margen derecho */
.column {
  margin-right: 20%;
}

/* Estilos del botón */
.button{
  padding: 15px 20px;
  width: 336px;
  height: 56px;
  margin-top: 5%;
  background: #B9D4FF;
  border-radius: 8px;
  border-color: #B9D4FF;
  display: inline-block;
  outline: none;
}

/* Estilos del botón de texto */
.btn{
  margin-left: -45%;
  width: 280px;
  height: 26px;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 26px;
  color: #344B97;
}

/* Estilos de la cruz */
.cruz{
  position: absolute;
  left: 316px;
}

/* Otros estilos de botón */
.button2{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  gap: 10px;
  width: 140.5px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  border-color: #FFFFFF;
}

/* Otros estilos de botón de texto */
.btn2{
  width: 280px;
  height: 26px;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 26px;
  color: #344B97;
}

/* Otras columnas */
.column2{
  margin-left: 5% !important;
}

/* Otro estilo de botón */
.button3{
  width: 336px;
  height: 56px;
  background: #B9D4FF;
  border-radius: 8px;
  border-color: #B9D4FF;
  margin-left: -7.5%;
  margin-top: -6%;
}

/* Estilos del selector */
.select{
  /* Frame 113 */
  box-sizing: border-box;
  border: 1px dashed #9747FF;
  border-radius: 5px;
}

/* Estilos del texto de adjuntar */
.adjuntar{
  text-align: center;
  color: #4988EE;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Otro estilo de botón */
.button4{
  padding: 15px 20px;
  width: 336px;
  height: 56px;
  margin-top: 5%;
  background: #0D4BAE;
  border-radius: 8px;
  border-color: #0D4BAE;
  display: inline-block;
  outline: none;
}

/* Estilos de un post */
.post{
  color: #ffffff;
  font-size: 18px;
}

/* Estilos de un PDF */
.pdf{
  width: 346px;
  height: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #5C5E67;
}

/* Estilos de un CV */
.cv{
  width: 280px;
  height: 26px;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 26px;
  color: #344B97;
}

/* Estilos de un archivo */
.file{
  left: 6.19%;
  right: 8.67%;
  background: #1A3082;
}

/* Estilos del modal */
.modal {
  display: none; /* Por defecto, el modal está oculto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  overflow: auto;
}

/* Estilos del contenido del modal */
.modal-content {
  margin-left: 5%;
  position: absolute;
  bottom: 25%;
  width: 246px;
  height: 250px;
  gap: 20px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
  gap: 40px;
  background: #FFFFFF;
  border-radius: 20px;
}

/* Estilos de un mensaje emergente */
.pop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  gap: 10px;
  width: 246px;
  height: 52px;
  background: #0D4BAE;
  border-radius: 8px;
  position: absolute;
  top: 75%;
}

/* Estilos del botón en el mensaje emergente */
.pop-btn{
  /* Tu postulación fue enviada con éxito */
  width: 246px;
  height: 52px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */
  text-align: center;
  color: #1A4282;
  position: absolute;
  top: 40%;
}
